# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcuserdata

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/test_output

# Mac system files
.DS_Store

# Env files
*.env


//
//  .gitignore
//  Tutor Panel
//
//  Created by MetaDots on 09/09/2025.
//

